<nav>
	<div class="site-title">
		<a href="/dashBoard"><h1>Admin Panel</h1></a>
	</div>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/register">Register</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</nav>