<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
	<%- include('../partials/admin-nav.ejs') %>
	<div class="create-menu content">
		<h2>Menu Item Form</h2>
		<form action="/menu/add-item" method="POST">
			<label for="category">Category:</label>
			<select name="category" required>
				<option value="BREAKFAST">Breakfast</option>
				<option value="FISH">Fish</option>
				<option value="POULTRY">Poultry</option>
				<option value="MEAT">Meat</option>
				<option value="PASTA">Pasta</option>
				<option value="COMFORT">Comfort</option>
				<option value="SALAD">Salad</option>
				<option value="SANDWICH">Sandwich</option>
				<option value="DESSERT">Dessert</option>
				<option value="LIGHT EATS">Light Eats</option>
				<option value="SIDES">Sides</option>
			</select>
			<label for="name">Name:</label>
			<input type="text" id="" name="name" required>
			<label for="description">Description:</label>
			<input type="text" id="description" name="description" >
			<label for="price">Price:</label>
			<input type="number" id="price" name="price" required>

			<div class="sub">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	<%- include('../partials/footer.ejs') %>
</body>
</html>