<html lang="en">
	<%- include('partials/header.ejs') %>
	<body>
		<div class="not-found content">
			<h1 class="error-code">404</h1>
			<h2>OOPS, page not found :)</h2>
			<p>The Page you're lookin for doesn't exist.</p>
			<a href="/">Return to Home</a>
		</div>

		<%- include('partials/footer.ejs') %>

	</body>
</html>