<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="create-menu content">
		<nav>
			<ul>
				<li><a href="/menu/create/food">Food</a></li>
				<li><a href="#">Drinks</a></li>
			</ul>
		</nav>
		<h2>Drinks Menu Form</h2>
		<form action="/menu/create/food" method="POST">
			<label for="category">Category:</label>
			<input type="text" id="" name="category" required>
			<label for="name">Name:</label>
			<input type="text" id="" name="name" required>
			<label for="description">Description:</label>
			<input type="text" id="description" name="description" >
			<label for="price">Price:</label>
			<input type="number" id="price" name="price" required>

			<div class="sub">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>